includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src

    # Ignore deprecated warnings for now
    reportUnmatchedIgnoredErrors: false

    # Exclude patterns
    excludePaths:
        - var/*
        - scripts/*
